.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#user_description {
  width:500px;
  position: absolute;
  left: 50px;
}

#Notices {
  width:500px;
  position: absolute;
  right: 50px;
  margin-bottom: 20px;
}

#notices-submit {
  width:100px;
  margin-bottom: 10px;
  margin-left:80%;

  position: absolute;;
}

#user-div {
  display:inline-block;
  width: 600px;
  float:left;
}