<html>

<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Styles/styles.css" />
</head>

<body>
	<div class="container-fluid">

		<div class="row">
			<div class="col-12">
				<h1>Support Tickets</h1>
			</div>
		</div>

		<div class="row">

			<div class="col-12">
				<table class="table table-striped" id="supportInfoLandlord">
					<thead>
						<th scope="col">Property</th>
						<th scope="col">Title</th>
						<th scope="col">Details</th>
						<th scope="col">Status</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<script src="../Scripts/landlord-main.js"></script>
</body>

</html>
