html {
  height: 100%;
}

body {
  min-height: 150%;
}

.row {
  margin-bottom: 20px;
}

#profile-picture {
  height: 200px;
  width: 200px;
}

#profile-div {
  align-self: center;
}

#update-profile-div button {
  width: 130px;
  height: 38px;
}
