.center {
    display: block;
    width: 90%;
}

#add-tenants{
  width:65px;
  margin-left:40px;
}

#add-notices{
  width:65px;
  margin-left:40px
}

#notices-submit {
  width:100px;
  margin-bottom: 10px;
  margin-left:79%;

  position: absolute;;
}

#tenants-submit {
  margin-right: 130px;
}

#user-div {
  display:inline-block;
  min-width: 200px;
  max-width: 500px;
  float:left
}

#notice-div {
  display:inline-block;
  min-width: 200px;
  max-width: 500px;
}

#property-form{
	margin-top:50px;
	margin-bottom:50px;
}

.info-tables{
	margin-top:20px;
}